
/source/_ReSharper.PirateSpades
/source/PirateSpades.1.1.dotCover
/source/PirateSpades/obj
/source/PirateSpades/bin
/source/PirateSpadesGame/PirateSpadesGame/obj
/source/PirateSpadesGame/PirateSpadesGame/bin
/source/PirateSpadesGame/PirateSpadesGameContent/bin
/source/PirateSpadesGame/PirateSpadesGameContent/obj
/source/PirateSpadesServer/obj
/source/PirateSpadesServer/bin
/source/PirateSpades.6.0.ReSharper.user